/* loading.css */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    .loading img {
        width: 50px; /* Adjust the size as needed */
    }
}

